<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.google.android.apps.fitness" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SaemiGoalsWidget">

        <activity
            android:name=".ConfigureActivity"
            android:exported="true"
            android:theme="@style/Theme.SaemiGoalsWidget.Configure">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".GoalsWidgetProvider"
            android:exported="true"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/goals_widget_info" />
        </receiver>

        <receiver
            android:name=".AutoRefreshReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.saemi.goalswidget.ACTION_AUTO_REFRESH_TICK" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GoalsRemoteViewsService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name=".UnproductiveAccessibilityService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/unproductive_accessibility_config" />
        </service>

        <activity
            android:name=".UnproductiveBlockerActivity"
            android:exported="false"
            android:theme="@style/Theme.SaemiGoalsWidget.Blocker"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:launchMode="singleTask" />
    </application>
</manifest>
